<?xml version="1.0"?>
<launch>
  <arg name="gui" default="true" />
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>

  <arg name="laser_visual" default="false"/>
  <arg name="camera_visual" default="false"/>
  <arg name="imu_visual" default="false" />
  <arg name="open_rviz" default="false" />


  <include file="$(find gazebo_ros)/launch/empty_world.launch" >
      <arg name="world_name" value="$(find turtlebot_follows_turtlebot_gazebo)/worlds/light.world"/>
      <arg name="paused" value="false"/>
      <arg name="use_sim_time" value="true"/>
      <arg name="gui" value="$(arg gui)"/>
      <arg name="debug" value="false"/>
  </include>

  <!-- FOLLOWER -->
  <include file="$(find turtlebot_follows_turtlebot_gazebo)/launch/named_turtlebot.launch" >
    <arg name="robot_name" value="follower" />
    <arg name="x_pos" value="0" />
    <arg name="y_pos" value="0" />
    <arg name="z_pos" value="0" />
    <arg name="tf_freq" value="50" />

    <arg name="laser_visual" value="$(arg laser_visual)"/>
    <arg name="camera_visual" value="$(arg camera_visual)"/>
    <arg name="imu_visual" value="$(arg imu_visual)" />
  </include>


  <!-- LEADER -->
  <include file="$(find turtlebot_follows_turtlebot_gazebo)/launch/named_turtlebot.launch" >
    <arg name="robot_name" value="leader" />
    <arg name="model_xacro" default="$(find xacro)/xacro $(find turtlebot_follows_turtlebot_description)/urdf/turtlebot3_waffle_pi_aruco.urdf.xacro"/>
    <arg name="x_pos" value="2" />
    <arg name="y_pos" value="0" />
    <arg name="z_pos" value="0" />
    <arg name="tf_freq" value="50" />

    <arg name="laser_visual" value="$(arg laser_visual)"/>
    <arg name="camera_visual" value="$(arg camera_visual)"/>
    <arg name="imu_visual" value="$(arg imu_visual)" />
  </include>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find turtlebot_follows_turtlebot_description)/rviz/two_turtlebot.rviz"/>
  </group>

</launch>
